#header {
  background-image: linear-gradient(to right, #0275d8, #050657);
  background-size: cover;
  background-position-y: 40%;
  color: white;
  position: relative;
}

#header h1 {
  font-size: 200%;
  text-align: center;
  font-weight: bold;
  background-clip: text;
}

.jumbotron {
  padding: 1rem;
  border-radius: 0;
}

#searchBar {
  width: 100%;
}

#searchBtn {
  width: 100%;
}

#searchBtn-icon {
  width: 15px;
  display: inline-block;
}

.list-group-item {
  color: whitesmoke;
  background-color: rgb(94, 94, 95);
  margin-top: 0.25rem;
}

h4 {
  padding-left: 15px;
}

#forecast {
  justify-content: center;
  flex-wrap: wrap;
}

#weather {
  padding-left: 15px;
}

#clear {
  color: rgb(70, 69, 69);
  text-decoration: none;
  font-size: 0.8em;
  margin: 0.9em 0em 0em 0.9em;
  border-radius: 50%;
}

#clear.grow:hover {
  color: rgb(214, 16, 16);
  border-color: rgb(214, 16, 16);
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
  transform: scale(1.5);
}

.weather-card {
  width: 9rem;
  background-color: #050657;
  color: white;
  text-align: left;
}

#uvColor {
  padding: 0.1em;
}

.favorable {
  background-color: green;
  border-radius: 5px;
  color: white;
}

.moderate {
  background-color: orange;
  border-radius: 5px;
  color: white;
}

.severe {
  background-color: red;
  border-radius: 5px;
  color: white;
}
